<%= form_for @client do |f| %>

  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@client.errors.count, "error") %> prohibited
        this client from being saved:
      </h2>
      <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :billing_id %><br>
    <%= f.text_field :billing_id %>
  </p>

  <p>
    <%= f.label :coach %><br>
    <%= f.text_field :coach %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
