
<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Billing ID:</strong>
  <%= @client.billing_id %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @client.coach %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
